.crewmate-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    padding: 2rem;
}

.crewmate-card {
    background: #f8f8f8;
    padding: 1rem;
    border-radius: 12px;
    width: 100%;
    max-width: 250px;
    text-align: center;
}
